@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1> Edit Course @ViewBag.Post.Title </h1>

<form method="post">
	<div class="mb-3">
		<label for="CourseId" class="form-label">Course ID</label>
		<input type="text" class="form-control" id="CourseId" name="CourseId" value="@ViewBag.Post.BlogPostId" readonly>
	</div>

	<div class="mb-3">
		<label for="BlogPostTitle" class="form-label">Blog Post Name</label>
		<input type="text" class="form-control" id="blogPostTitle" name="blogPostTitle" value="@ViewBag.Post.Title">
	</div>

	@* CourseName, CourseDescription, CoursePrice, CourseImage
	CourseImage is an url
	*@
	<div class="mb-3">
		<label for="BlogPostContent" class="form-label">BlogPost Content</label>
		<textarea class="form-control" id="BlogPostContent" name="BlogPostContent" rows="20">@ViewBag.Post.Content</textarea>
	</div>

	<div class="b-3">
		<label for="BlogPostImage" class="form-label">Blog Post Image</label>
		<input type="text" class="form-control" id="BlogPostImage" name="BlogPostImage" placeholder="Image URL" value="@ViewBag.Post.ImageUrl" />
	</div>

	<style>
		button {
			margin-top: 10px;
		}
	</style>

	<button class="btn btn-primary w-10 py-2" type="submit">Modify</button>
</form>

@* Buton pentru stergerea postarii *@
<form method="post" action="@Url.Action("Delete", "BlogPost", new { id = ViewBag.Post.BlogPostId })">
	<button class="btn btn-danger w-10 py-2" type="submit">Delete</button>
</form>