@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Courses</h1>

@* iterate through all the ViewBag.Courses and create a card for each one*@

<div class="courses">
	@foreach (var course in ViewBag.Courses)
	{
		<div class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="@course.CourseImage" class="img-fluid rounded-start" alt="...">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h4 class="card-title">@course.CourseName</h4>
						@* check if the sale price is lower then the normal price and add it next to the striked normal price*@
						@if (course.CourseSalePrice < course.CoursePrice)
						{
							<h3 class="pricing-card-title"><del>&euro;@course.CoursePrice</del> &euro;@course.CourseSalePrice</h3>
						}
						else
						{
							<h3 class="pricing-card-title">&euro;@course.CoursePrice</h3>
						}
						<p class="card-text">@course.CourseDescription</p>
						<p class="card-text"><small class="text-body-secondary">Created on @course.CourseDate</small><p>
								@* first check if the id cookie is set then check if the userId is the professorUserId and add a button to modify the course*@
								@if (Context.Request.Cookies["id"] != null)
								{
									if (int.Parse(Context.Request.Cookies["id"]) == course.ProfessorUserId)
									{
									<a asp-controller="Course" asp-action="Edit" asp-route-id="@course.CourseId" class="btn btn-primary">Edit Course</a>
									}
								}
								@* check if the id cookie is set, then check if this course is in ViewBag.UserEnrollments*@
								@if (Context.Request.Cookies["id"] != null)
								{
									if (ViewBag.EnrolledCourses.Contains(course.CourseId))
									{
										<a asp-controller="Course" asp-action="Unenroll" asp-route-id="@course.CourseId" class="btn btn-danger">Unenroll</a>
									}
									else
									{
										<a asp-controller="Course" asp-action="Enroll" asp-route-id="@course.CourseId" class="btn btn-success">Enroll</a>
									}
								}
						</div>
					</div>
				</div>
			</div>
								}
	</div>